# ignore downloaded vim plugins
vim/.vim/.netrwhist
vim/.vim/plugged
.DS_Store
*/.DS_Store

# ignore installed git completion scripts
.bash

# ignore zim compiled stuff
*.zwc
*.zwc.old
*.zsh.old
zsh/.zim/.latest_version
zsh/.zim/init.zsh
zsh/.zim/login_init.zsh
zsh/.zim/modules
